@model Requesting.Models.Request

@{
    ViewData["Title"] = "GetRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetRequest</h1>

<h4>Request</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Home" asp-action="EditRequest">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" readonly />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" readonly />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" readonly />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.FullName" class="control-label"></label>
                <input asp-for="Client.FullName" class="form-control" />
                <span asp-validation-for="Client.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.PhoneNumber" class="control-label"></label>
                <input asp-for="Client.PhoneNumber" class="form-control" />
                <span asp-validation-for="Client.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select class="form-control" asp-for="Status">
                    <option>New</option>
                    <option>Processing</option>
                    <option>Declined</option>
                    <option>Done</option>
                </select>
            </div>
            
            <div class="form-group">
                <a href="/Home/DeleteRequest/@Model.Id" class="btn btn-danger">Delete</a>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
